Repository mgarnier-home/home-monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install dependencies amd64, install dependencies arm64, increment versions

install dependencies amd64:
  stage: install dependencies
  script:
  - docker build -t mgarnier11/my-home:$TAG_NAME -f docker/Dockerfile . --push
  variables:
    TAG_NAME: amd64

install dependencies arm64:
  stage: install dependencies
  script:
  - docker build -t mgarnier11/my-home:$TAG_NAME -f docker/Dockerfile . --push
  tags:
  - arm64
  variables:
    TAG_NAME: arm64

increment versions:
  stage: increment versions
  image: node:18
  before_script:
  - apt-get update && apt-get install -y git
  - git config user.name "CI ðŸ¤–"
  - git config user.email "mgarnier11@gmail.com"
  script:
  ...

ci: testing
  .gitlab-ci.yml
  apps/autosaver/.gitlab-ci.yml
Due: install dependencies amd64, install dependencies arm64, increment versions

ci: testing increment version
  .gitlab-ci.yml
  apps/autosaver/package.json
Due: install dependencies amd64, install dependencies arm64, increment versions

ci: Increment versions [skip ci]
  apps/autosaver/package.json
Due: install dependencies amd64, install dependencies arm64, increment versions

ci: testing
  .gitlab-ci.yml
Due: install dependencies amd64, install dependencies arm64

ci: testing
  .gitlab-ci.yml
  apps/autosaver/package.json
Due: install dependencies amd64, install dependencies arm64, increment versions

ci: testing some things
  .gitlab-ci.yml
Due: install dependencies amd64, install dependencies arm64

ci: testing new version release
  apps/autosaver/src/main.ts
Due: increment versions

chore: increment versions
  apps/autosaver/package.json
Due: install dependencies amd64, install dependencies arm64, increment versions

ci: wip [skip ci]
  .gitlab-ci.yml
Due: install dependencies amd64, install dependencies arm64

ci: testing version increment
  apps/autosaver/src/main.ts
Due: increment versions

ci: fix [skip ci]
  .gitlab-ci.yml
Due: install dependencies amd64, install dependencies arm64

tci: test version
  apps/autosaver/src/main.ts
Due: increment versions

ci: updated commit msg ignore [skip ci] [skip deps]
  .gitlab-ci.yml
Due: install dependencies amd64, install dependencies arm64

ci: test version [skip deps]
  apps/autosaver/src/main.ts
Due: increment versions

feat: added git hooks [skip ci]
  .husky/pre-commit
  .husky/prepare-commit-message
  package.json
  pnpm-lock.yaml
Due: install dependencies amd64, install dependencies arm64

feat: now using nx to patch a new version on affected projects [skip ci]
  .husky/pre-commit
  .husky/prepare-commit-message
  .husky/prepare-commit-msg
  apps/autosaver/package.json
  package.json
  pnpm-lock.yaml
Due: install dependencies amd64, install dependencies arm64, increment versions

ci: test version [skip deps]
  .gitlab-ci.yml
  apps/autosaver/package.json
  apps/autosaver/src/main.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

fix: getting version from package json [skip deps]
  .gitlab-ci.yml
  apps/autosaver/package.json
  apps/autosaver/src/main.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: updated apps gitlab ci ymls, removed prepare commit msg hook for now
  .gitlab-ci.yml
  .husky/pre-commit
  .husky/prepare-commit-msg
  apps/dashboard/.gitlab-ci.yml
  apps/node-proxy/.gitlab-ci.yml
  apps/nodesight/.gitlab-ci.yml
  apps/stats-api/.gitlab-ci.yml
  apps/traefik-conf/.gitlab-ci.yml
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: added version command to projects [skip ci]
  apps/dashboard/package.json
  apps/node-proxy/package.json
  apps/nodesight/package.json
  apps/stats-api/package.json
  apps/traefik-conf/package.json
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: dashboard: added host.id
  .husky/pre-commit
  apps/dashboard/app/src/components/home/home.tsx
  apps/dashboard/app/src/components/host/host.tsx
  apps/dashboard/app/src/components/widgets/stats/cpu.stats.widget.tsx
  apps/dashboard/app/src/components/widgets/stats/gpu.stats.widget.tsx
  apps/dashboard/app/src/components/widgets/stats/network.stats.widget.tsx
  apps/dashboard/app/src/components/widgets/stats/ram.stats.widget.tsx
  apps/dashboard/app/src/components/widgets/stats/useData.ts
  apps/dashboard/app/src/utils/socket.ts
  apps/dashboard/package.json
  apps/dashboard/shared/interfaces/appInterfaces.ts
  pnpm-lock.yaml
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: updated utils and autosaver
  apps/autosaver/package.json
  apps/autosaver/src/upload/uploadApiUptobox.ts
  apps/autosaver/src/uptobox/uptoboxApi.ts
  apps/autosaver/src/utils/utils.ts
  libs/utils/src/utils.ts
  pnpm-lock.yaml
Due: install dependencies amd64, install dependencies arm64, increment versions

fix: autosaver
  apps/autosaver/package.json
  apps/autosaver/src/upload/uploadApiCp.ts
  pnpm-lock.yaml
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: syslog-app: server wip
  apps/syslog-app/.gitignore
  apps/syslog-app/.gitlab-ci.yml
  apps/syslog-app/app/tailwind.config.ts
  apps/syslog-app/app/tsconfig.json
  apps/syslog-app/docker/Dockerfile
  apps/syslog-app/package.json
  apps/syslog-app/scripts/app.ts
  apps/syslog-app/scripts/server.ts
  apps/syslog-app/server/src/config.ts
  apps/syslog-app/server/src/interfaces.ts
  apps/syslog-app/server/src/main.ts
  apps/syslog-app/server/src/syslog.ts
  apps/syslog-app/server/tsconfig.json
  apps/syslog-app/shared/interfaces.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: syslog-app: fixed build, improved syslog server
  apps/syslog-app/app/public/index.html
  apps/syslog-app/app/src/index.css
  apps/syslog-app/app/src/main.tsx
  apps/syslog-app/package.json
  apps/syslog-app/server/src/main.ts
  apps/syslog-app/server/src/syslog.ts
  apps/syslog-app/server/src/utils.ts
  apps/syslog-app/shared/interfaces.ts
  apps/syslog-app/shared/utils.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: syslog-app: added console.time
  apps/syslog-app/package.json
  apps/syslog-app/server/src/syslog.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: syslog-app: improved logs parsing
  apps/syslog-app/package.json
  apps/syslog-app/server/src/config.ts
  apps/syslog-app/server/src/main.ts
  apps/syslog-app/server/src/syslog.ts
  apps/syslog-app/server/tsconfig.json
  apps/syslog-app/shared/utils.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

fix: syslog-app removed timeout between messages
  apps/syslog-app/package.json
  apps/syslog-app/server/src/syslog.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

fix: syslog-app: trying to improve performances
  apps/syslog-app/package.json
  apps/syslog-app/server/src/syslog.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: syslog-app: readding console.logs as they were not a perf problem
  apps/syslog-app/package.json
  apps/syslog-app/server/src/syslog.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: syslog-app: wip improving logging
  apps/syslog-app/package.json
  apps/syslog-app/server/src/config.ts
  apps/syslog-app/server/src/interfaces.ts
  apps/syslog-app/server/src/main.ts
  apps/syslog-app/server/src/syslog.ts
  apps/syslog-app/server/src/utils.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: syslog-app testing console colors
  apps/syslog-app/package.json
  apps/syslog-app/scripts/app.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

fix: syslog-app: ....
  apps/syslog-app/package.json
  apps/syslog-app/scripts/app.ts
  apps/syslog-app/server/src/main.ts
  apps/syslog-app/server/src/syslog.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

fix: syslog-app
  apps/syslog-app/server/src/main.ts
Due: increment versions

fix: syslog-app
  apps/syslog-app/package.json
  apps/syslog-app/server/src/main.ts
Due: install dependencies amd64, install dependencies arm64, increment versions

feat: adding logger
  apps/node-proxy/package.json
  apps/nodesight/package.json
  apps/nodesight/src/main.ts
  apps/stats-api/package.json
  apps/syslog-app/package.json
  apps/syslog-app/server/src/config.ts
  apps/syslog-app/server/src/main.ts
  apps/syslog-app/server/src/syslog.ts
  apps/syslog-app/server/src/utils.ts
  libs/logger/package.json
  libs/logger/src/index.ts
  libs/logger/src/interfaces.ts
  libs/logger/src/logger.ts
  libs/logger/tsconfig.json
  pnpm-lock.yaml
Due: install dependencies amd64, install dependencies arm64, increment versions

Path conditions:
  install dependencies amd64: any of: docker/**, **/package.json, **/.gitlab-ci.yml, pnpm-lock.yaml
  install dependencies arm64: any of: docker/**, **/package.json, **/.gitlab-ci.yml, pnpm-lock.yaml
  increment versions: any of: apps/**/*
